#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

on early-init
    setprop ro.boot.product.hardware.sku ${ro.boot.hardware.sku}

on property:ro.boot.hardware.sku=JPN
    # Audio
    setprop audio.camerasound.force true

    # NFC
    setprop persist.nfc_cfg.config_file_name libnfc-nci-felica.conf
    setprop persist.vendor.nfc.config_file_name libnfc-hal-st-st54j.conf

    start gto_secure_element_aidl_service

service gto_secure_element_aidl_service /vendor/bin/hw/android.hardware.secure_element-service.thales
    override
    class hal
    user secure_element
    group secure_element nfc
    disabled
